<div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  {% if page.url == "/" %}
    Home
  {% else %}
    <a href="/">Home</a>
  {% endif %}
  
  {% assign path = "" %}
  {% for crumb in crumbs offset: 1 %}
    {% assign path = path | append: "/" | append: crumb %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="{{ path }}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>