
<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
          id="bd-theme"
          type="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          aria-label="Toggle theme (auto)">
    <img src="/assets/svg/google-fonts-contrast.svg" class="bi my-1 theme-icon-active" width="1em" height="1em">
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        <img src="/assets/svg/google-fonts-light_mode.svg" class="bi me-2 opacity-50" width="1em" height="1em">
        Light
        <img src="/assets/svg/google-fonts-check.svg" class="bi ms-auto d-none" width="1em" height="1em">
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        <img src="/assets/svg/google-fonts-dark_mode.svg" class="bi me-2 opacity-50" width="1em" height="1em">
        Dark
        <img src="/assets/svg/google-fonts-check.svg" class="bi ms-auto d-none" width="1em" height="1em">
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
        <img src="/assets/svg/google-fonts-contrast.svg" class="bi me-2 opacity-50" width="1em" height="1em">
        Auto
        <img src="/assets/svg/google-fonts-check.svg" class="bi ms-auto d-none" width="1em" height="1em">
      </button>
    </li>
  </ul>
</div>
