
<div class="dropdown">
  <div class="btn dropdown-toggle d-flex align-items-center"
          id="bd-theme"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          aria-label="Toggle theme (auto)">
    <span class="material-symbols-outlined bi theme-icon-active">contrast</span>
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </div>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex" data-bs-theme-value="light" aria-pressed="false">
        <span class="material-symbols-outlined bi me-2 opacity-50">light_mode</span>
        Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex" data-bs-theme-value="dark" aria-pressed="false">
        <span class="material-symbols-outlined bi me-2 opacity-50">dark_mode</span>
        Dark
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex active" data-bs-theme-value="auto" aria-pressed="true">
        <span class="material-symbols-outlined bi me-2 opacity-50">contrast</span>
        Auto
      </button>
    </li>
  </ul>
</div>
